/* LANDING */

body#landing{
    background-image: url(../image/landing.jpg);
}
nav{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.maintext{
    margin-bottom: 70px;
}
.threecontainer div{
    margin-top: 30px;
}
.container-low{
    margin-top: 200px;
    margin-bottom: 70px;
}
@media screen and (max-width: 480px){
    .container-low{
        margin-top: 10px;
    }
}
.toSite{
    margin: 20px;
    text-decoration: underline;
}
.brand-logo{
    font-weight: lighter;
}
.btn-large{

}
