/* LANDING */
body{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body#landing{

}
nav#landing{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}
.material-icons{
    margin: 0;
}
.tabs{
    overflow-x: hidden;
}
nav i.material-icons{
    font-size: 20px;
}
.normal-size{
    font-size: 10px;
}
nav{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-bottom: 1px lightgray solid;
}
nav a{
    color: black;
}
nav li a{
    color: black;
}
.car-nav{

    overflow-x: hidden;
    overflow-y: hidden;
}
i .material-icons{
    font-size: 5px;
}
.parallax-container {
    height: 20em;
}
.maintext{
    margin-bottom: 70px;
}
.threecontainer div{
    margin-top: 30px;
}
.container-low{

}
.slct{
    margin: 0px !important;
}
.container-low#landing{
    margin-top: 200px;
    margin-bottom: 70px;
}
@media screen and (max-width: 480px){
    .container-low#landing{
        margin-top: 10px;
    }
}
.toSite{
    margin: 20px;
    text-decoration: underline;
    font-size: 12px;
}
.brand-logo{
    font-weight: lighter;
}
.login-form{
    background-color: rgba(255,255,255, 1);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.btn{
    margin: 10px;
}

